* {
    font-family: 'Lucida Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 100px;
    height: auto;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #2c5494;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #5776ab;
    margin: 0 30px;
    padding: 20px 20px;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #daced9;
    border-top: 4px solid #2c5494;
    padding: 20px;
    box-sizing: border-box;
}

footer h1 {
    color: #2c5494;
    margin-bottom: 10px;
}

footer img {
    width: 30px;
    margin: 0 30px;
    margin-bottom: 20px;
}

footer small {
    color: #2c5494;
    margin-top: 30px;
}

.contenedor {
    background: #5776ab;
    padding: 5px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.box {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 400px;
}
.box1 {
    margin-left: 400px;
}

.contenedor2 {
    background-color: #ef7476;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
}
.box2 {
    font-size: 30px;
    margin: 0px;
    
}

