* {
    font-family: 'Lucida Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 100px;
    height: auto;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #2c5494;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #5776ab;
    margin: 0 30px;
    padding: 20px 20px;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

.contenedor {
    background: #5776ab;
    padding: 5px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    height: 500px;
}

.box {
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}
