* {
    font-family: 'Lucida Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 100px;
    height: auto;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #2c5494;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #5776ab;
    margin: 0 30px;
    padding: 20px 20px;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

header a:hover {
    background-color: #eb252c;
}

footer {
    text-align: center;
    background-color: #daced9;
    border-top: 4px solid #2c5494;
    padding: 20px;
    box-sizing: border-box;
}

footer h1 {
    color: #2c5494;
    margin-bottom: 10px;
}

footer img {
    width: 30px;
    margin: 0 30px;
    margin-bottom: 20px;
}

footer small {
    color: #2c5494;
    margin-top: 30px;
}

/* main 1 */

#main1 {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color:#eb252c;
    font-size: 25px;
  }

#div2 label,select,option {
    font-size: 25px;
}

/* Etiqueta h2 */

#Mexico {
    text-align: center;
    padding: 20px;
    background-color:#2c5494;
    font-size: 30px;
}

/* Nuevo Leon */

#NuevoLeon {
    background-color:#2c5494;
    text-align: center;
}

#seccion1 {
    display: flex;
    align-items: center;
    background-color:#5776ab;
    margin-right: 160px;
    margin-left: 160px;
}

#seccion1 img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }

/* Coahuila */

#Coahuila {
    background-color:#2c5494;
    text-align: center;
}

#seccion2 {
    display: flex;
    align-items: center;
    background-color:#5776ab;
    margin-right: 160px;
    margin-left: 160px;
}

#seccion2 img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }

/* Tamaulipas */

#Tamaulipas {
    background-color:#2c5494;
    text-align: center;
}

#seccion3 {
    display: flex;
    align-items: center;
    background-color:#5776ab;
    margin-right: 160px;
    margin-left: 160px;
}

#seccion3 img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }

/* Durango */

#Durango {
    background-color:#2c5494;
    text-align: center;
}

#seccion4 {
    display: flex;
    align-items: center;
    background-color:#5776ab;
    margin-right: 160px;
    margin-left: 160px;
}

#seccion4 img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }

/* Sonora */

#Sonora {
    background-color:#2c5494;
    text-align: center;
}

#seccion5 {
    display: flex;
    align-items: center;
    background-color:#5776ab;
    margin-right: 160px;
    margin-left: 160px;
}

#seccion5 img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }